@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Teko:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.hero__container {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 70vh;
  background-color: rgb(61, 61, 61);
  overflow: hidden;
  // font-family: "Teko", sans-serif;
  font-family: "Ubuntu", sans-serif;

  .hello__div {
    width: 100%;
    height: 40vh;
    background-color: rgb(51, 45, 109);
    overflow: hidden;
    position: relative;

    .h__drop {
      background-color: rgb(231, 22, 22);
      width: 2.5vh;
      height: 2.5vh;
      position: absolute;
      top: 5vh;
      opacity: 0;
    }

    .h__letter {
      position: absolute;
      bottom: 0;
      left: 15vh;
      font-family: "Teko", sans-serif;
      font-size: 15vh;
      font-weight: 600;
      line-height: 0.6;
      color: rgb(231, 22, 22);
      opacity: 0;
    }

    .i__drop {
      position: absolute;
      top: 0;
      left: 25vh;
      width: 1.3vh;
      height: 1.3vh;
      border-radius: 50%;
      border: 0.5vh solid white;
      opacity: 0;
    }
    .i__letter {
      position: absolute;
      left: 25vh;
      bottom: -10vh;
      height: 7vh;
      width: 2.1vh;
      background-color: rgb(231, 22, 22);
    }
    .i__dev {
      position: absolute;
      bottom: -15vh;
      left: 15vh;
      font-size: 15vh;
      font-weight: 600;
      line-height: 0.9;
      color: rgb(231, 22, 22);
      opacity: 0;
    }
    .m__dev {
      position: absolute;
      // left: 19vh;
      left: 1vh;
      bottom: 0;
      font-size: 14vh;
      font-weight: 600;
      line-height: 0.9;
      color: rgb(231, 22, 22);
      opacity: 0;
    }
    .paravan__box {
      position: absolute;
      bottom: 0;
      left: 0.6vh;
      background-color: rgb(51, 45, 109);
      z-index: 5;
    }
    .a__dev {
      position: absolute;
      left: 38vh;
      bottom: 0;
      font-size: 14vh;
      font-weight: 600;
      line-height: 0.9;
      color: rgb(231, 22, 22);
      opacity: 0;
    }
    .web__box {
      position: absolute;
      right: -8vh;
      bottom: 0.5vh;
      width: 10vh;
      height: 3vh;
      border: 3px solid rgba(255, 255, 255, 0.3);
      border-radius: 1vh;
    }
    .web__dev {
      position: absolute;
      bottom: 0;
      left: 110vh;
      font-size: 13.5vh;
      font-weight: 600;
      font-style: italic;
      line-height: 0.9;
      color: rgba(255, 255, 255, 0.3);
    }
  }
  .message__div {
    width: 100%;
    height: 30vh;
    background-color: rgb(51, 45, 109);
    overflow: hidden;
    position: relative;

    .message__drop {
      position: absolute;
      top: 0vh;
      left: 52.5vh;
      width: 1.3vh;
      height: 1.3vh;
      border-radius: 50%;
      background-color: white;
      border: 0.5vh solid white;
      opacity: 0;
    }
    .developer__div {
      position: absolute;
      left: 15vh;
      font-size: 14vh;
      font-weight: 600;
    }
    .developer__dev {
      position: absolute;
      top: 50vh;
      left: 0;
      opacity: 1;
      color: white;
    }
    .developer__o {
      position: absolute;
      left: 34.5vh;
      top: 0vh;
      color: white;
      opacity: 0;
    }
    .developer__e {
      position: absolute;
      top: -15vh;
      left: 23vh;
      opacity: 1;
      color: rgb(231, 22, 22);
    }
    .developer__l {
      position: absolute;
      top: 0;
      left: 30.5vh;
      color: rgb(231, 22, 22);
      opacity: 0;
    }
    .developer__p {
      position: absolute;
      top: 0;
      left: 42.5vh;
      opacity: 0;
      color: rgb(231, 22, 22);
    }
    .developer__ee {
      position: absolute;
      top: 0;
      color: rgb(231, 22, 22);
      left: 23vh;
      z-index: 5;
      opacity: 0;
    }
    .developer__r {
      position: absolute;
      top: 0;
      left: 58.5vh;
      opacity: 0;
      color: rgb(231, 22, 22);
    }
  }
  .developer__l__drop {
    position: absolute;
    // top: 0vh;
    top: -53vh;
    left: 46vh;
    width: 1.5vh;
    height: 52vh;
    border: 0.5vh solid rgb(211, 23, 23);
    border-radius: 2vh;
    z-index: 5;
  }
}
